body {
    font-family: roboto;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    color: white;
    background-color: rgb(105,105,105);
    border: 5px cyan;
    padding: 13px;
}

h1{
    font-family:Tahoma;
    font-weight:100;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

header {
    text-shadow: blue;
    text-transform: uppercase;
    text-decoration-style: wavy;
    border-width: 5px;
    text-decoration: underline;

}

h2{
    color: yellowgreen;
    text-decoration: underline;
}
